.navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.custom-navbar {
  padding-top: 0.2rem !important;   
  padding-bottom: 0.3rem !important; 
  height: 50vh;
}
.nav-link {
  color: #000;
  transition: color 0.2s;
}
.nav-link:hover,
.active-link {
  color: #b88e2f; 
}
.nav-icon {
  color: #000;
}
.nav-icon:hover {
  color: #b88e2f;
}
.nudge-right {
  padding-left: 4.5rem;
}
.nudge-rig {
  padding-left: 4.5rem;
}
.active-link {
  color: black !important;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 4px; 
}



